.news-wrapper {
  position: relative;
}
.news {
  position: absolute;
  width: 100%;
  top: -100px;
  right: 2rem;
  z-index: 100;

  .news-item {
    max-width: 450px;
    color: var(--color-white);

    .item-bg {
      flex-basis: 80%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .item-content {
      padding: 1.5rem 2rem;
      background-color: var(--color-dark-secondary);

      .sub-title {
        color: var(--color-light-gray);
      }
    }
  }

  @media (max-width: 500px) {
    box-sizing: border-box;
    position: static;
    right: 0;
    padding: 2rem 1rem;
    background-color: var(--color-darker-primary);

    & > div {
      flex-direction: column;
    }

    .news-item {
      max-width: 100%;
    }
  }
}
