.container {
  width: 98%;
  max-width: 1200px;

  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.block {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 1rem;
}

.gap-4 {
  gap: 2rem;
}

.border-link {
  border-bottom: 0.2rem solid var(--color-white);
  padding-bottom: 0.1rem;
}

.word-wrap {
  width: min-content;
  word-wrap: break-word;
  line-height: 0.9;
}
